 <div class="cardBox cardBox-dashboard">
                                <div class="card">
                                        <div>
                                                <div class="numbers">1</div>
                                                <div class="cardName">Categories</div> 
                                        </div>
                                        <div class="iconBox">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                        </div>
                                </div>
                                <div class="card">
                                        <div>
                                                <div class="numbers">1</div>
                                                <div class="cardName">Products</div> 
                                        </div>
                                        <div class="iconBox">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                        </div>
                                </div>
                                <div class="card">
                                        <div>
                                                <div class="numbers">1</div>
                                                <div class="cardName">Users</div> 
                                        </div>
                                        <div class="iconBox">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                        </div>
                                </div>
                        </div>

                        <div class="details">
                                <div class="details-session-1">
                                        <div class="cardHeader">
                                                <h3>Recent Orders</h3>
                                                <a href="#" class="btn-viewall">View All</a>
                                        </div>
                                        <table>
                                                <thead>
                                                        <tr>
                                                                <td>Name</td>
                                                                <td>Price</td>
                                                                <td>Payment</td>
                                                                <td>Status</td>
                                                                
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr>
                                                                <td>Star Refrigerator</td>
                                                                <td>$1200</td>
                                                                <td>Paid</td>
                                                                <td><span class="status delivered">Delivered</span></td>                                                                
                                                        </tr>
                                                        
                                                        <tr>
                                                                <td>Star Refrigerator</td>
                                                                <td>$1200</td>
                                                                <td>Paid</td>
                                                                <td><span class="status delivered">Delivered</span></td>                                                                
                                                        </tr>

                                                        <tr>
                                                                <td>Star Refrigerator</td>
                                                                <td>$1200</td>
                                                                <td>Paid</td>
                                                                <td><span class="status delivered">Delivered</span></td>                                                                
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>
                                <div class="details-session-2">
                                        <div class="cardHeader">
                                                <h3>Recent Customers</h3>
                                        </div>
                                        <table>
                                                <tbody>
                                                        <tr>
                                                                <td width="60px"><div class="imgBx"><img src="/img/unlogin.png" alt=""></div></td>
                                                                <td>
                                                                        <h6>TS<br>Seller</h6>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td width="60px"><div class="imgBx"><img src="/img/unlogin.png" alt=""></div></td>
                                                                <td>
                                                                        <h6>PT<br>Seller</h6>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td width="60px"><div class="imgBx"><img src="/img/unlogin.png" alt=""></div></td>
                                                                <td>
                                                                        <h6>TN<br>Bidder</h6>
                                                                </td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>