<div class="container product-detail my-5 pt-5">
  <!-- Begin top card -->
  <div class="row mt-5 card-wrapper">
    <!-- Begin left card -->
    <div class="card-product col-lg-5 col-md-12 col-12">
      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <img src="/img/shoe_1.jpg" class="product-img" alt="shoe image" />
            <img src="/img/shoe_2.jpg" class="product-img" alt="shoe image" />
            <img src="/img/shoe_3.jpg" class="product-img" alt="shoe image" />
            <img src="/img/shoe_4.jpg" class="product-img" alt="shoe image" />
          </div>
        </div>
        <div class="img-select">
          <div class="img-item">
            <a href="#" data-id="1">
              <img src="/img/shoe_1.jpg" class="product-img" alt="shoe image" />
            </a>
          </div>
          <div class="img-item">
            <a href="#" data-id="2">
              <img src="/img/shoe_2.jpg" class="product-img" alt="shoe image" />
            </a>
          </div>
          <div class="img-item">
            <a href="#" data-id="3">
              <img src="/img/shoe_3.jpg" class="product-img" alt="shoe image" />
            </a>
          </div>
          <div class="img-item">
            <a href="#" data-id="4">
              <img src="/img/shoe_4.jpg" class="product-img" alt="shoe image" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End left card -->

    <!-- Begin right card -->
    <div class="col-lg-6 col-md-6 col-12 product-content">
      <h2 class="product-title">nike shoes</h2>

      <div class="seller">
        <div>Người bán</div>
        <span class="user-name">Thông <i class="fa fa-user" aria-hidden="true"></i></span>
        <span class="user-point">100 <i class="fa fa-heart" aria-hidden="true"></i> </span>
      </div>

      <div class="post-date">
        <label>Ngày đăng</label>
        <span>15:30 01/01/2022</span>
      </div>
      <div class="time-countdown">
        <label>Thời gian còn lại</label>
        <span> 0d : 0h : 30p : 15s</span>
      </div>

      <div class="product-current-price">
        <label>Giá hiện tại</label>
        <span>10.000.000 vnđ</span>
      </div>

      <div class="bidder">
        <div>Người ra giá cao nhất</div>
        <span class="user-name">Sơn <i class="fa fa-user" aria-hidden="true"></i> </span>
        <span class="user-point">100 <i class="fa fa-heart" aria-hidden="true"></i></span>
      </div>

      <div class="product-buy-price">

        <div>Giá mua ngay</div>
        <div class="d-flex justify-content-between">
          <span>10.000.000 vnđ</span>
          <button class="buynow-btn">Mua ngay</button>
        </div>

      </div>

      <form action="" class="d-flex justify-content-between">
        <input type="text" name="bid" id="" placeholder="Mức giá tối đa bạn tham gia" />
        <button class="submit-btn">Đấu giá tự động</button>
      </form>
    </div>
    <!-- End right card -->

  </div>
  <!-- End top card -->

  <hr />
  <!-- Begin bottom card -->
  <div class="row mt-5 card-wrapper">
    <div class="col-8">
      <h2>Mô tả sản phẩm</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga
        tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi
        ipsa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora
        fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at
        sequi ipsa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam
        tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur
        quidem at sequi ipsa!
      </p>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <h2>Lịch sử đấu giá</h2>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th scope="col">Thời điểm</th>
              <th scope="col">Người mua</th>
              <th scope="col">Giá</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
            <tr>
              <td>06/01/2022</td>
              <td>Otto</td>
              <td>10,000,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End bottom card -->

  <!-- Relate product -->
  <div class="slider">
    <div class="container">
      <h2>Sản phẩm liên quan</h2>
      <div class="row autoplay">
        <div class="col-3 mx-4 my-5">
          <div class="auction-item">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="/img/auction-1.jpg" alt="item">
              </a>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 mx-4 my-5">
          <div class="auction-item">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="/img/auction-1.jpg" alt="item">
              </a>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 mx-4 my-5">
          <div class="auction-item">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="/img/auction-1.jpg" alt="item">
              </a>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 mx-4 my-5">
          <div class="auction-item">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="/img/auction-1.jpg" alt="item">
              </a>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 mx-4 my-5">
          <div class="auction-item">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="/img/auction-1.jpg" alt="item">
              </a>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!-- Relate product -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
  const imgs = document.querySelectorAll('.img-select a');
  const imgBtns = [...imgs];
  let imgId = 1;
  imgBtns.forEach((imgItem) => {
    imgItem.addEventListener('click', (event) => {
      event.preventDefault();
      imgId = imgItem.dataset.id;
      slideImage();
    });
  });

  function slideImage() {
    const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;
    document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) *
  displayWidth}px)`;
  }
  window.addEventListener('resize', slideImage);

  $('.autoplay').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    dots: true,
    speed: 800,
    autoplaySpeed: 2000,
    prevArrow: '<i class="fas fa-angle-left  left_arrow"></i>',
    nextArrow: '<i class="fas fa-angle-right right_arrow" ></i>',
    responsive: [{
        breakpoint: 1447,
        settings: {
          slidesToShow: 3,
        }
      },
      {
        breakpoint: 1200,
        settings: {
          slidesToShow: 2,
        }
      },
      {
        breakpoint: 790,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
  console.log('aaaaaaaaa')
</script>