{{#section 'js'}}

<script type="text/javascript">
    $(document).ready(function(){
        var endtimeSlider = $("#end-time-slider").owlCarousel({
          items: 3,
          nav:false,
          autoplay:true,
          dots: false,
          loop: true,
          autoplayHoverPause: true,
        });
        
        $('.btn-carousel-next').click(function() {
            endtimeSlider.trigger('next.owl.carousel');
        })
        $('.btn-carousel-prev').click(function() {
            endtimeSlider.trigger('prev.owl.carousel');
        })
    });
    
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{/section}}

<section>
  <div class="img-home">
    <div class="text-content">
      <h2 class="text-heading">Auction Website</h2>
      <p class="text-description">Buy everything at the best price</p>
    </div>
  </div>
</section>


<div class="container top-product">
  <div class="row">
    <div class="header-top-product">
      <h2>top sản phẩm sắp kết thúc</h2>
    </div>
    <div class="col-lg-12">
      <div id="end-time-slider" class="owl-carousel shadow-sm rounded">
          <div class="auction-item shadow-sm">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="img/auction-1.jpg" alt="item" />
              </a>
              <span class="ranking">TOP 1</span>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
          <div class="auction-item shadow-sm">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="img/auction-1.jpg" alt="item" />
              </a>
              <span class="ranking">TOP 2</span>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
          <div class="auction-item shadow-sm">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="img/auction-1.jpg" alt="item" />
              </a>
              <span class="ranking">TOP 3</span>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
          <div class="auction-item shadow-sm">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="img/auction-1.jpg" alt="item" />
              </a>
              <span class="ranking">TOP 4</span>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
          <div class="auction-item shadow-sm">
            <div class="auction-item-thumb">
              <a class="thumb-img" href="#">
                <img src="img/auction-1.jpg" alt="item" />
              </a>
              <span class="ranking">TOP 5</span>
              <a class="star-icon thumb-icon" href="#">
                <i class="far fa-star" aria-hidden="true"></i>
              </a>
              <a class="gavel-icon thumb-icon" href="#">
                <i class="fas fa-gavel fa"></i>
              </a>
            </div>
            <div class="auction-item-content">
              <h6>Golden Ring</h6>
              <h6>Start: 15:00-05/12/2021</h6>
              <div class="bid-area d-flex justify-content-center">
                <div class="bid-amount current-price d-flex">
                  <div class="icon">
                    <i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="amount-content">
                    <div class="current">
                      Current Bid
                    </div>
                    <div class="amount">
                      $20,000
                    </div>
                  </div>
                </div>
                <div class="bid-amount buy-price d-flex">
                  <div class="icon">
                    <i class="fas fa-money-bill-wave fa-2x"></i>
                  </div>
                  <div class="amount-content">
                    <div class="buy">
                      Buy Now
                    </div>
                    <div class="amount">
                      $30,000
                    </div>
                  </div>
                </div>
              </div>
              <div class="countdown-area d-flex">
                <div class="countdown">
                  0d : 3h : 10m : 42s
                </div>
                <span class="total-bids">
                  30 bids
                </span>
              </div>
              <div class="bid-now">
                <a href="#">Bid now</a>
              </div>
            </div>
          </div>
      </div>
    </div>
      <div class="group-carousel-control">
          <button class="btn-carousel btn-carousel-prev"><i class="fas fa-arrow-left fa-lg"></i></button>
          <button class="btn-carousel btn-carousel-next"><i class="fas fa-arrow-right fa-lg"></i></button>
      </div>
  </div>
</div>
