


{{!-- <div class="row justify-content-center", style="width: 100%;">
	<div class="auction-top col-12">
		<div class="auction-item">
			<div class="auction-item-thumb">
				<a href="#">
					<img src="img/auction-2.jpg" alt="item">
				</a>
				<a class="star-icon thumb-icon" href="#">
					<i class="fa fa-star" aria-hidden="true"></i>
				</a>
				<a class="gavel-icon thumb-icon" href="#">
					<i class="fa fa-gavel" aria-hidden="true"></i>
				</a>
			</div>
			<div class="auction-item-content">
				<h6>Golden Ring</h6>
				<h6>Start: 15:00-05/12/2021</h6>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-gavel" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-money-bill-wave" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="countdown-area">
					<div class="countdown">
						00:50:01
					</div>
					<span class="total-bid">
						30 bids
					</span>
				</div>
				<div class="bid-now">
					<a href="#">Bid now</a>
				</div>
			</div>
		</div>
	</div>

	<div class="auction-top col-3">
		<div class="auction-item">
			<div class="auction-item-thumb">
				<a href="#">
					<img src="img/auction-2.jpg" alt="item">
				</a>
				<a href="#">
					<i class="fa fa-star" aria-hidden="true"></i>
				</a>
				<a href="#">
					<i class="fa fa-gavel" aria-hidden="true"></i>
				</a>
			</div>
			<div class="auction-item-content">
				<h6>Golden Ring</h6>
				<h6>Start: 15:00-05/12/2021</h6>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-gavel" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-money-bill-wave" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="countdown-area">
					<div class="countdown">
						00:50:01
					</div>
					<span class="total-bid">
						30 bids
					</span>
				</div>
				<div class="bid-now">
					<a href="#">Bid now</a>
				</div>
			</div>
		</div>
	</div>

	<div class="auction-top col-3">
		<div class="auction-item">
			<div class="auction-item-thumb">
				<a href="#">
					<img src="img/auction-2.jpg" alt="item">
				</a>
				<a href="#">
					<i class="fa fa-star" aria-hidden="true"></i>
				</a>
				<a href="#">
					<i class="fa fa-gavel" aria-hidden="true"></i>
				</a>
			</div>
			<div class="auction-item-content">
				<h6>Golden Ring</h6>
				<h6>Start: 15:00-05/12/2021</h6>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-gavel" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-money-bill-wave" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="countdown-area">
					<div class="countdown">
						00:50:01
					</div>
					<span class="total-bid">
						30 bids
					</span>
				</div>
				<div class="bid-now">
					<a href="#">Bid now</a>
				</div>
			</div>
		</div>
	</div>

	<div class="auction-top col-3">
		<div class="auction-item">
			<div class="auction-item-thumb">
				<a href="#">
					<img src="img/auction-2.jpg" alt="item">
				</a>
				<a href="#">
					<i class="fa fa-star" aria-hidden="true"></i>
				</a>
				<a href="#">
					<i class="fa fa-gavel" aria-hidden="true"></i>
				</a>
			</div>
			<div class="auction-item-content">
				<h6>Golden Ring</h6>
				<h6>Start: 15:00-05/12/2021</h6>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-gavel" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-money-bill-wave" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="countdown-area">
					<div class="countdown">
						00:50:01
					</div>
					<span class="total-bid">
						30 bids
					</span>
				</div>
				<div class="bid-now">
					<a href="#">Bid now</a>
				</div>
			</div>
		</div>
	</div>

	<div class="auction-top col-3">
		<div class="auction-item">
			<div class="auction-item-thumb">
				<a href="#">
					<img src="img/auction-2.jpg" alt="item">
				</a>
				<a href="#">
					<i class="fa fa-star" aria-hidden="true"></i>
				</a>
				<a href="#">
					<i class="fa fa-gavel" aria-hidden="true"></i>
				</a>
			</div>
			<div class="auction-item-content">
				<h6>Golden Ring</h6>
				<h6>Start: 15:00-05/12/2021</h6>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-gavel" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="bid-amount">
					<div class="icon">
						<i class="fa fa-money-bill-wave" aria-hidden="true"></i>
					</div>
					<div class="amount-content">
						<div class="current">
							Current Bid
						</div>
						<div class="amount">
							$30,000
						</div>
					</div>
				</div>
				<div class="countdown-area">
					<div class="countdown">
						00:50:01
					</div>
					<span class="total-bid">
						30 bids
					</span>
				</div>
				<div class="bid-now">
					<a href="#">Bid now</a>
				</div>
			</div>
		</div>
	</div>


</div> --}}