 <div class="cardBox cardBox-dashboard">
                                <div class="card">
                                        <div>
                                                <div class="numbers">1</div>
                                                <div class="cardName">Bidders</div> 
                                        </div>
                                        <div class="iconBox">
                                                <i class="fas fa-user-plus"></i>
                                        </div>
                                </div>
                                <div class="card">
                                        <div>
                                                <div class="numbers">1</div>
                                                <div class="cardName">Sellers</div> 
                                        </div>
                                        <div class="iconBox">
                                                <i class="fas fa-user"></i>
                                        </div>
                                </div>
                                <div class="card">
                                        <div>
                                                <div class="numbers">1</div>
                                                <div class="cardName">Forbidden user</div> 
                                        </div>
                                        <div class="iconBox">
                                                <i class="fas fa-user-slash"></i>
                                        </div>
                                </div>
                        </div>

                        <div class="details">
                                <div class="details-session-1">
                                        <div class="cardHeader">
                                                <h3>Users</h3>
                                                <a href="#" class="btn-viewall">View All</a>
                                        </div>
                                        <table>
                                                <thead>
                                                        <tr>
                                                                <td>id</td>
                                                                <td>Username</td>
                                                                <td>Role</td>
                                                                <td>&nbsp;</td>
                                                                <td>&nbsp;</td>
                                                                
                                                        </tr>
                                                </thead>

                                                <tbody>
                                                        <tr>
                                                                <td>1</td>
                                                                <td>Ts</td>
                                                                <td>Bidder</td>
                                                                <td>
                                                                       <a class="btn btn-info" href="#">
                                                                                <i class="fas fa-user-cog"></i>
                                                                                Settings
                                                                        </a> 
                                                                </td>
                                                                <td>
                                                                        <a class="btn btn-danger" href="#">
                                                                                <i class="fas fa-eraser"></i> 
                                                                                Delete
                                                                        </a>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td>2</td>
                                                                <td>PT</td>
                                                                <td>Bidder</td>
                                                                <td>
                                                                       <a class="btn btn-info" href="#">
                                                                                <i class="fas fa-user-cog"></i>
                                                                                Settings
                                                                        </a> 
                                                                </td>
                                                                <td>
                                                                        <a class="btn btn-danger" href="#">
                                                                                <i class="fas fa-eraser"></i> 
                                                                                Delete
                                                                        </a>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td>3</td>
                                                                <td>HT</td>
                                                                <td>Bidder</td>
                                                                <td>
                                                                       <a class="btn btn-info" href="#">
                                                                                <i class="fas fa-user-cog"></i>
                                                                                Settings
                                                                        </a> 
                                                                </td>
                                                                <td>
                                                                        <a class="btn btn-danger" href="#">
                                                                                <i class="fas fa-eraser"></i> 
                                                                                Delete
                                                                        </a>
                                                                </td>
                                                        </tr>
                                                </tbody>
                                                {{!-- <tbody>
                                                        <tr>
                                                                <td>Star Refrigerator</td>
                                                                <td>$1200</td>
                                                                <td>Paid</td>
                                                                <td><span class="status delivered">Delivered</span></td>                                                                
                                                        </tr>
                                                        
                                                        <tr>
                                                                <td>Star Refrigerator</td>
                                                                <td>$1200</td>
                                                                <td>Paid</td>
                                                                <td><span class="status delivered">Delivered</span></td>                                                                
                                                        </tr>

                                                        <tr>
                                                                <td>Star Refrigerator</td>
                                                                <td>$1200</td>
                                                                <td>Paid</td>
                                                                <td><span class="status delivered">Delivered</span></td>                                                                
                                                        </tr>
                                                </tbody> --}}
                                        </table>
                                </div>
                                <div class="details-session-2">
                                        <div class="cardHeader">
                                                <h3>Forbidden Users</h3>
                                        </div>
                                        <table>
                                                <tbody>
                                                        <tr>
                                                                <td width="60px"><div class="imgBx"><img src="/img/unlogin.png" alt=""></div></td>
                                                                <td>
                                                                        <h6>TS<br>Seller</h6>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td width="60px"><div class="imgBx"><img src="/img/unlogin.png" alt=""></div></td>
                                                                <td>
                                                                        <h6>PT<br>Seller</h6>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td width="60px"><div class="imgBx"><img src="/img/unlogin.png" alt=""></div></td>
                                                                <td>
                                                                        <h6>TN<br>Bidder</h6>
                                                                </td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>