{{#section 'js'}}

<script>



// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2022 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("product-one").innerHTML = days + "d : " + hours + "h :"
  + minutes + "m :" + seconds + "s";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("product-one").innerHTML = "EXPIRED";
  }
}, 1000);
   
 
</script>


{{/section}}


	<div class="container">
		<div class="row">
			<div class="col">
		
				<div class="auction-item">
					<div class="auction-item-thumb">
						<a class="thumb-img" href="#">
							<img src="/img/auction-1.jpg" alt="item">
						</a>
						<a class="star-icon thumb-icon" href="#">
							<i class="far fa-star" aria-hidden="true"></i>
						</a>
						<a class="gavel-icon thumb-icon" href="#">
							<i class="fas fa-gavel fa"></i>
						</a>
					</div>
					<div class="auction-item-content">
						<h6>Golden Ring</h6>
						<h6 class="time-start">Start: 15:00-05/12/2021</h6>
						<div class="bid-area d-flex justify-content-center">
							<div class="bid-amount current-price d-flex">
								<div class="icon">
									<i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
								</div>
								<div class="amount-content">
									<div class="current">
										Current Bid
									</div>
									<div class="amount">
										$20,000
									</div>
								</div>
							</div>
							<div class="bid-amount buy-price d-flex">
								<div class="icon">
									<i class="fas fa-money-bill-wave fa-2x"></i>
								</div>
								<div class="amount-content">
									<div class="buy">
										Buy Now
									</div>
									<div class="amount">
										$30,000
									</div>
								</div>
							</div>
						</div>
						<div class="countdown-area d-flex">
							<div id = "product-one" class="countdown">
								0d : 3h : 10m : 42s
							</div>
							<span class="total-bids">
								30 bids
							</span>
						</div>
						<div class="bid-now">
							<a href="#">Bid now</a>
						</div>
					</div>
				</div>
				<!-- end item -->
								<div class="auction-item">
					<div class="auction-item-thumb">
						<a class="thumb-img" href="#">
							<img src="/img/auction-2.jpg" alt="item">
						</a>
						<a class="star-icon thumb-icon" href="#">
							<i class="far fa-star" aria-hidden="true"></i>
						</a>
						<a class="gavel-icon thumb-icon" href="#">
							<i class="fas fa-gavel fa"></i>
						</a>
					</div>
					<div class="auction-item-content">
						<h6>Golden Ring</h6>
						<h6>Start: 15:00-05/12/2021</h6>
						<div class="bid-area d-flex justify-content-center">
							<div class="bid-amount current-price d-flex">
								<div class="icon">
									<i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
								</div>
								<div class="amount-content">
									<div class="current">
										Current Bid
									</div>
									<div class="amount">
										$20,000
									</div>
								</div>
							</div>
							<div class="bid-amount buy-price d-flex">
								<div class="icon">
									<i class="fas fa-money-bill-wave fa-2x"></i>
								</div>
								<div class="amount-content">
									<div class="buy">
										Buy Now
									</div>
									<div class="amount">
										$30,000
									</div>
								</div>
							</div>
						</div>
						<div class="countdown-area d-flex">
							<div class="countdown">
								0d : 3h : 10m : 42s
							</div>
							<span class="total-bids">
								30 bids
							</span>
						</div>
						<div class="bid-now">
							<a href="#">Bid now</a>
						</div>
					</div>
				</div>
				<!-- end item -->


								<div class="auction-item">
					<div class="auction-item-thumb">
						<a class="thumb-img" href="#">
							<img src="/img/auction-2.jpg" alt="item">
						</a>
						<a class="star-icon thumb-icon" href="#">
							<i class="far fa-star" aria-hidden="true"></i>
						</a>
						<a class="gavel-icon thumb-icon" href="#">
							<i class="fas fa-gavel fa"></i>
						</a>
					</div>
					<div class="auction-item-content">
						<h6>Golden Ring</h6>
						<h6>Start: 15:00-05/12/2021</h6>
						<div class="bid-area d-flex justify-content-center">
							<div class="bid-amount current-price d-flex">
								<div class="icon">
									<i class="fa fa-gavel fa-2x" aria-hidden="true"></i>
								</div>
								<div class="amount-content">
									<div class="current">
										Current Bid
									</div>
									<div class="amount">
										$20,000
									</div>
								</div>
							</div>
							<div class="bid-amount buy-price d-flex">
								<div class="icon">
									<i class="fas fa-money-bill-wave fa-2x"></i>
								</div>
								<div class="amount-content">
									<div class="buy">
										Buy Now
									</div>
									<div class="amount">
										$30,000
									</div>
								</div>
							</div>
						</div>
						<div class="countdown-area d-flex">
							<div class="countdown">
								0d : 3h : 10m : 42s
							</div>
							<span class="total-bids">
								30 bids
							</span>
						</div>
						<div class="bid-now">
							<a href="#">Bid now</a>
						</div>
					</div>
				</div>
				<!-- end item -->


				
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->

