<div class="container mb-250">
        <div class="row justify-content-center">
            <div class="col d-flex m-3" style="height: 100px;">
                <h1 style="align-items: center; margin: auto;">DASHBOARD</h1>
            </div>
        </div>
    </div>

<section>
        <div class="container">
            <div class="row justify-content-center">
                {{> sidebar_dashboard}}

                <!-- Contentt -->
                <div class="col-lg-8">
                    <div class="row">
                        <!-- Profile -->
                        <div class="col-12">
                            <div class="dash-pro-item dashboard-widget">
                                <div class="header">
                                    <h4 class="title">
                                        Personal Details
                                    </h4>
                                    <span class="edit">
                                        <i class="fas fa-edit    "></i>
                                        Edit
                                    </span>

                                </div>
                                <form action="">
                                    <div class="row justify-content-center">
                                        <div class="col-9" style="justify-content: center;">
                                            <ul class="dash-pro-body">
                                                <!-- Info item -->
                                                <li>
                                                    <div class="info-name">
                                                        Name
                                                    </div>
                                                    <div class="info-value">
                                                        <input type="text" value="Le Van A" readonly>
                                                    </div>
                                                </li>
                                                <!-- End Info item -->
                                                <!-- Info item -->
                                                <li>
                                                    <div class="info-name">
                                                        Date of birth
                                                    </div>
                                                    <div class="info-value">
                                                        <input type="text" value="17/06/2001" readonly>
                                                    </div>
                                                </li>
                                                <!-- End Info item -->
                                                <!-- Info item -->
                                                <li>
                                                    <div class="info-name">
                                                        Address
                                                    </div>
                                                    <div class="info-value">
                                                        <input type="text" value="A city, district X, warn X" readonly>
                                                    </div>
                                                </li>
                                                <!-- End Info item -->
                                            </ul>
                                        </div>
                                        <div class="col-3" style="text-align: right; top:-10px">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Profile -->

                        <!-- Profile -->
                        <div class="col-12">
                            <div class="dash-pro-item dashboard-widget">
                                <div class="header">
                                    <h4 class="title">
                                        Email Address
                                    </h4>
                                    <span class="edit">
                                        <i class="fas fa-edit    "></i>
                                        Edit
                                    </span>

                                </div>
                                <form action="">
                                    <div class="row justify-content-center">

                                        <div class="col-9" style="justify-content: center;">
                                            <ul class="dash-pro-body">
                                                <!-- Info item -->
                                                <li>
                                                    <div class="info-name">
                                                        Email
                                                    </div>
                                                    <div class="info-value">
                                                        <input type="text" value="abcxyz@gmail.com" readonly>
                                                    </div>
                                                </li>
                                                <!-- End Info item -->
                                            </ul>
                                        </div>
                                        <div class="col-3" style="text-align: right; top:-10px">

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Profile -->

                        <!-- Profile -->
                        <div class="col-12">
                            <div class="dash-pro-item dashboard-widget">
                                <div class="header">
                                    <h4 class="title">
                                        Phone
                                    </h4>
                                    <span class="edit">
                                        <i class="fas fa-edit    "></i>
                                        Edit
                                    </span>
                                </div>
                                <form action="">
                                    <div class="row justify-content-center">

                                        <div class="col-9" style="justify-content: center;">
                                            <ul class="dash-pro-body">
                                                <!-- Info item -->
                                                <li>
                                                    <div class="info-name">
                                                        Mobile
                                                    </div>
                                                    <div class="info-value">
                                                        <input type="text" value="0123456789" readonly>
                                                    </div>
                                                </li>
                                                <!-- End Info item -->
                                            </ul>
                                        </div>
                                        <div class="col-3" style="text-align: right; top:-10px">

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Profile -->

                        <!-- Profile -->
                        <div class="col-12">
                            <div class="dash-pro-item dashboard-widget">
                                <div class="header">
                                    <h4 class="title">
                                        Security
                                    </h4>
                                    <span class="edit">
                                        <i class="fas fa-edit    "></i>
                                        Edit
                                    </span>

                                </div>
                                <form action="">
                                    <div class="row justify-content-center">
                                        <div class="col-9" style="justify-content: center;">
                                            <ul class="dash-pro-body">
                                                <!-- Info item -->
                                                <li>
                                                    <div class="info-name">
                                                        Password
                                                    </div>
                                                    <div class="info-value">
                                                        <input type="text" value="khongcopassword" readonly>
                                                    </div>
                                                </li>
                                                <!-- End Info item -->
                                            </ul>
                                        </div>
                                        <div class="col-3" style="text-align: right; top:-10px">

                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- End Profile -->
                    </div>
                </div>
                <!-- End content -->
            </div>
        </div>
</section>
 <script>
        function editFocus() {
            var par = $(event.target).parent().parent();
            var childs = par.find('.info-value');
            var btn = par.find('button');
            btn.css('visibility', 'visible');

            childs.each(function (index) {
                var i = $(this).find('input');
                var attr = i.attr('readonly');

                if (typeof attr !== 'undefined' && attr !== false) {
                    i.prop('readonly', false);
                    i.focus();
                } else {
                    i.prop('readonly', true);
                    i.blur();
                }
            })
        };
        $('.edit').click(editFocus);
    </script>