<div class="container mb-250">
        <div class="row justify-content-center">
            <div class="col d-flex m-3" style="height: 100px;">
                <h1 style="align-items: center; margin: auto;">DASHBOARD</h1>
            </div>
        </div>
    </div>

<section>
        <div class="container">
            <div class="row justify-content-center">
                {{> sidebar_dashboard}}

                <!-- Contentt -->
                <div class="col-lg-8">
                    <div class="row">
                        <!-- Profile -->
                        <div class="col-12">
                            <div class="dash-pro-item dashboard-widget">
                                <div class="profile-header">
                                    <h4 class="title">
                                        Personal Details
                                    </h4>
                                    <span class="edit">
                                        <i class="fas fa-edit    "></i>
                                        Edit
                                    </span>

                                </div>
                                <ul class="dash-pro-body">
                                    <!-- Info item -->
                                    <li>
                                        <div class="info-name">
                                            Name
                                        </div>
                                        <div class="info-value">
                                            Le Van A
                                        </div>
                                    </li>
                                    <!-- End Info item -->
                                    <!-- Info item -->
                                    <li>
                                        <div class="info-name">
                                            Date of birth
                                        </div>
                                        <div class="info-value">
                                            17/06/2001
                                        </div>
                                    </li>
                                    <!-- End Info item -->
                                    <!-- Info item -->
                                    <li>
                                        <div class="info-name">
                                            Address
                                        </div>
                                        <div class="info-value">
                                            A city, district X, warn X
                                        </div>
                                    </li>
                                    <!-- End Info item -->
                                </ul>
                            </div>
                        </div>
                        <!-- End Profile -->

                        <!-- Profile -->
                        <div class="col-12">
                            <div class="dash-pro-item dashboard-widget">
                                <div class="profile-header">
                                    <h4 class="title">
                                        Email Address
                                    </h4>
                                    <span class="edit">
                                        <i class="fas fa-edit    "></i>
                                        Edit
                                    </span>

                                </div>
                                <ul class="dash-pro-body">
                                    <!-- Info item -->
                                    <li>
                                        <div class="info-name">
                                            Email
                                        </div>
                                        <div class="info-value">
                                            abcxyz@gmail.com
                                        </div>
                                    </li>
                                    <!-- End Info item -->
                                </ul>
                            </div>
                        </div>
                        <!-- End Profile -->

                        <!-- Profile -->
                        <div class="col-12">
                            <div class="dash-pro-item dashboard-widget">
                                <div class="profile-header">
                                    <h4 class="title">
                                        Phone
                                    </h4>
                                    <span class="edit">
                                        <i class="fas fa-edit    "></i>
                                        Edit
                                    </span>

                                </div>
                                <ul class="dash-pro-body">
                                    <!-- Info item -->
                                    <li>
                                        <div class="info-name">
                                            Mobile
                                        </div>
                                        <div class="info-value">
                                            0123456789
                                        </div>
                                    </li>
                                    <!-- End Info item -->
                                </ul>
                            </div>
                        </div>
                        <!-- End Profile -->

                        <!-- Profile -->
                        <div class="col-12">
                            <div class="dash-pro-item dashboard-widget">
                                <div class="profile-header">
                                    <h4 class="title">
                                        Security
                                    </h4>
                                    <span class="edit">
                                        <i class="fas fa-edit    "></i>
                                        Edit
                                    </span>

                                </div>
                                <ul class="dash-pro-body">
                                    <!-- Info item -->
                                    <li>
                                        <div class="info-name">
                                            Password
                                        </div>
                                        <div class="info-value">
                                            khongcopassword
                                        </div>
                                    </li>
                                    <!-- End Info item -->
                                </ul>
                            </div>
                        </div>
                        <!-- End Profile -->
                    </div>
                </div>
                <!-- End content -->
            </div>
        </div>
</section>