{{#section 'js'}}
<script>
  $(function(){
  function rescaleCaptcha(){
    var width = $('.g-recaptcha').parent().width();
    var scale;
    if (width < 302) {
      scale = width / 302;
    } else{
      scale = 1.0; 
    }

    $('.g-recaptcha').css('transform', 'scale(' + scale + ')');
    $('.g-recaptcha').css('-webkit-transform', 'scale(' + scale + ')');
    $('.g-recaptcha').css('transform-origin', '0 0');
    $('.g-recaptcha').css('-webkit-transform-origin', '0 0');
  }

  rescaleCaptcha();
  $( window ).resize(function() { rescaleCaptcha(); });

});
</script>
{{/section}}

<section class="section-account">

  <div class="container signup-container">
    <div class="form-container account-container">
      <form action="" method="post">
        <h1>Sign up</h1>
        <div class="social-container">
          <a href="/login/facebook" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="/login/google" class="social"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a href="/login/github" class="social"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input name="username" type="text" placeholder="Username" />
        <input name="email" type="email" placeholder="Email" />
        <input name="password" type="password" placeholder="Password" />
        <input name="name" type="text" placeholder="Fullname" />
        <input name="address" type="text" placeholder="Address" />
        <div class="captcha" style="width: 100%; max-height: 78px;">
          <div class="g-recaptcha captcha" data-sitekey="6LcHauMdAAAAAEed34vF3Ep5JzEMyYJ80noSxMwW"></div>
        </div>
        <button type="submit">Sign Up</button>

      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay overlay-panel">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <a href="/login"><button class="ghost" id="signIn"> Sign In</button></a>

      </div>
    </div>
  </div>
</section>